# misc
plan.txt
notes.txt
.dgupdaterignore
.env

# Virtual Environments
.venv/

# Tests
tests/
dgupdater.py
dgupdaterconf.json

# Builds & release
dgupdater.egg-info/
dist/
build/
dgupdater_release/
output/
native-builds/

# Pycache
*.pyc
