# misc
plan.txt
notes.txt
.dgupdaterignore
.env
*.exe

# Virtual Environments
venv/

# Tests
tests/
dgupdater.py
dgupdaterconf.json

# Builds & release
dgupdater.egg-info/
dist/
build/
dgupdater_release/

# Pycache
*.pyc
